/* purgecss start ignore */
@tailwind base;
@tailwind components;

:root {
  --reach-dialog: 1;
}

[data-reach-dialog-overlay] {
  background: hsla(0, 0%, 0%, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

[data-reach-dialog-content] {
  width: 90vw;
  margin: 15vh auto;
  outline: none;
}

@media (min-width: 640px) {
  [data-reach-dialog-content] {
    width: 90vw;
    margin: 15vh auto;
  }
}
@media (min-width: 768px) {
  [data-reach-dialog-content] {
    width: 70vw;
    margin: 15vh auto;
  }
}
@media (min-width: 1024px) {
  [data-reach-dialog-content] {
    width: 60vw;
    margin: 15vh auto;
  }
}
@media (min-width: 1280px) {
  [data-reach-dialog-content] {
    width: 70vw;
    margin: 15vh auto;
  }
}

/* purgecss end ignore */
@tailwind utilities;
